*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h3{
    margin-left: 50px;
}

hr{
    width: 500px;
    margin-left: 31%;
}

.navbar{
    cursor: pointer;
    margin-right: 70px;
    text-align: center;
    padding: 20px;
}

span{
    margin-left: 40px;
}

.heading{
    margin-top: 100px;
    margin-left: 44%;
}

img{
    width: 150px;
}

.imgs{
    /* margin-left: 150px; */
    margin-top: 6px;
    text-align: center;
}

.para{
    text-align: center;
    margin-top: -15px;
}























